<div class="contact-main-container">
  <div class="backdrop"></div>
  <div class="contact-box">
    <div class="contact-header">
      <h3>Contact Us</h3>
    </div>
    <div class="contact-body">
      <div class="contact-gp">
        <div class="icon-container">
          <i class="fa-solid fa-phone"></i>
        </div>
        <span>09-123456789</span>
      </div>
      <div class="contact-gp">
        <div class="icon-container">
          <i class="fa-solid fa-globe"></i>
        </div>
        <span>http://www.mab.it.com</span>
      </div>
      <div class="contact-gp">
        <div class="icon-container">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <span>helloworld@gmail.com</span>
      </div>
      <div class="contact-gp">
        <div class="icon-container">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <span>No 123 , building 2 , first floor , Ma The Bu Yan Htet Dat.</span>
      </div>
    </div>
    <div class="contact-footer"></div>
  </div>
</div>
