@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.main-transition-record {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  background-color: red;
  position: relative;
  .signin {
    width: 40rem;
    background: #f1f1f1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
    position: absolute;
    top: 5rem;
    left: 45%;
    transform: translate(-50%, 0);
    .content {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      h2 {
        font-size: 2em;
        color: #691c32;
        text-transform: uppercase;
      }
    }
    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .show-input {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      .inputBox,
      .show-input .inputBox {
        position: relative;
        width: 100%;
        input,
        button,
        select {
          position: relative;
          width: 100%;
          background: #9ca3af;
          border: none;
          outline: none;
          padding: 25px 10px 7.5px;
          border-radius: 4px;
          color: #691c32;
          font-weight: 500;
          font-size: 1em;
        }
        select {
          option {
            color: #691c32;
          }
        }
        i {
          position: absolute;
          left: 0;
          padding: 15px 10px;
          font-style: normal;
          color: #691c32;
          transition: 0.5s;
          pointer-events: none;
        }
        input:focus ~ i,
        input:valid ~ i,
        select:focus ~ i,
        select:valid ~ i,
        button:focus ~ i,
        button:valid ~ i {
          transform: translateY(-7.5px);
          font-size: 0.8em;
          color: #481826;
        }
        button[type="submit"] {
          padding: 10px;
          background: #481826;
          color: #f1f1f1;
          font-weight: 600;
          font-size: 1.35em;
          letter-spacing: 0.05em;
          cursor: pointer;
        }
        button[type="submit"]:active {
          opacity: 0.6;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
