<form action="" class="filter-component">
  <div class="input-gp">
    <label for="">TRN Code:</label>
    <input type="text" />
  </div>
  <div class="input-gp">
    <label for="">Branch Code :</label>
    <input type="text" />
  </div>
  <div class="input-gp">
    <label for="">Dr Account Number:</label>
    <input type="text" />
  </div>
  <div class="input-gp">
    <label for="">Cr Account Number :</label>
    <input type="text" />
  </div>
  <div class="input-gp">
    <label for="">Save User :</label>
    <input type="text" />
  </div>
  <button><i class="fa-solid fa-magnifying-glass-plus"></i></button>
</form>
