<div class="nav-items">
  <h2 class="sidenav-title">Super Admin</h2>
  <div class="nav-item">
    <i class="fa-solid fa-house"></i>
    <span>Dashboard</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-file-shield"></i>
    <span>Transition History All</span>
  </div>
  <div
    class="nav-item"
    [routerLink]="[{ outlets: { mainContent: ['register-upload'] } }]"
  >
    <i class="fa-solid fa-file-shield"></i>
    <span>Create User</span>
  </div>
  <div
    class="nav-item"
    [routerLink]="[{ outlets: { mainContent: ['sttm-cust-account'] } }]"
  >
    <i class="fa-solid fa-file-invoice"></i>
    <span>STTM Cust Account</span>
  </div>
  <div
    class="nav-item"
    [routerLink]="[{ outlets: { mainContent: ['catm-check-detail'] } }]"
  >
    <i class="fa-solid fa-receipt"></i>
    <span>Catm Check Details</span>
  </div>
  <div
    class="nav-item"
    [routerLink]="[{ outlets: { mainContent: ['pipt-ins-issue'] } }]"
  >
    <i class="fa-solid fa-file-invoice-dollar"></i>
    <span>Pitb Ins Issue</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-table-cells-row-lock"></i>
    <span>All Users</span>
  </div>
  <div
    class="nav-item"
    [routerLink]="[{ outlets: { mainContent: ['contact-us'] } }]"
  >
    <i class="fa-solid fa-handshake-angle"></i>
    <span>Help</span>
  </div>
  <div class="nav-item" (click)="onLogout()">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Logout</span>
  </div>
</div>
